*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: #3336;
  border-radius: 0px;
}
*::-webkit-scrollbar-thumb {
  background-color: #9996;
  border-radius: 0px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
  visibility: visible;
}
body {
  padding: 0;
  margin: 0;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
